body {
  background-color: rgb(48, 6, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
div {
  border: 1px solid rgb(8, 8, 8);
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}
 
button{
	border: 3px solid rgb(59, 5, 255);
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}
 
input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}
 
#container{
	width: 900px;
 
}
 
#resposta{
	 width: 400px;
}
.titulo{
	background-color: rgb(0, 255, 34);
	color: rgb(0, 0, 0);
	font-size: 36px;
}
 
.texto{
	margin: 15px;
}
 
